@{
    ViewData["Title"] = "Property Details";
}


<section id="about" class="about" style="margin-top:20vh">
    <div class="container">


        <div class="row">

            <div class="col-xl-6 col-lg-5 pt-5 pt-lg-0" style="padding-right:3vw;padding-left:6vw">
                <h3 data-aos="fade-up" style="color:darkblue;font-weight:800">Forget Busy Work, Start Next Vacation</h3>
                <p data-aos="fade-up">
                    We provide what you need to enjoy your holiday with Family.<br />Time to make another memorable moment.
                </p>
                <p>
                    <button class="btn btn-primary" style="margin-bottom:7vh;color:white;">Show me Now</button>
                </p>
                <div class="icon-box">




                    <div style="display:flex;justify-content:space-between; ">

                        <div>
                            <span>
                                <img src="~/img/ic_traveler.svg" class="img-fluid" alt="travel"><br />
                                <small><b>80,409</b> travellers</small>
                            </span>

                        </div>

                        <div>
                            <span style="margin-right:3vw">
                                <img src="~/img/ic_treasure.svg" class="img-fluid" alt="treasures"><br />
                                <small><b>862</b> treasures</small>
                            </span>
                        </div>

                        <div>
                            <span style="margin-right:4vw">
                                <img src="~/img/ic_cities.svg" class="img-fluid" alt="location"><br />
                                <small><b>1,482</b>cities</small>
                            </span>
                        </div>



                    </div>
                </div>



            </div>

            <div class="col-xl-6 col-lg-7" data-aos="fade-right">
                <img src="~/img/banner.svg" class="img-fluid" alt="" width="400vw" height="400vh" style=" border-radius: 100px 15px 15px 15px;">
            </div>

        </div>

    </div>
</section><!-- End About Section -->